/* CardCreation.css */
* {
    margin: 0; 
}

.creation-container {
  text-align: center;
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ff4a6e;
  margin-bottom: 15px;
}

.button {
  background-color: #ff4a6e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.button:hover {
  background-color: #e63950;
}

.link-container {
  margin-top: 10px;
}

.link {
  color: #ff4a6e;
  font-weight: bold;
}

.copied-text {
  color: green;
  font-weight: bold;
}

